@charset "UTF-8";
body, ul, li, ol, p, dl, dd, h1, h2, h3, h4, h5, h6, img, iframe, form, div {
  margin: 0;
  padding: 0;
  list-style-type: none; }

ul, ol {
  list-style: none; }

img {
  border: 0; }

a {
  text-decoration: none;
  color: #555; }

input {
  outline: none; }

em {
  font-size: 100%;
  font-weight: normal;
  font-style: normal; }

.disblock {
  display: none;
  background: #fff;
  overflow: hidden;
  position: absolute;
  top: 61px;
  left: 0;
  width: 100%;
  padding: 25px 0 65px 0;
  text-align: center;
  border-top: solid 1px #e8e8e8;
  opacity: .95;
  z-index: 99; }
  .disblock ul {
    display: inline-block;
    margin: 20px;
    width: 200px;
    margin: 0 30px; }
    .disblock ul li {
      padding: 7px 0;
      font-size: 14px;
      overflow: hidden; }
      .disblock ul li a {
        display: block;
        color: #666;
        font-weight: normal; }
      .disblock ul li .block_li_a {
        font-weight: bold; }

header {
  width: 1263px;
  height: 214px;
  margin-bottom: 20px;
  margin: 0 auto; }
  header .header_content {
    height: 206px;
    background: #fff; }
    header .header_content .top {
      width: 100%;
      height: 35px;
      background: #f9f9f9;
      border-bottom: 1px solid #f5f5f5; }
      header .header_content .top .top_in {
        width: 1200px;
        height: 35px;
        line-height: 35px;
        margin: 0 auto; }
        header .header_content .top .top_in a {
          color: #555; }
        header .header_content .top .top_in .top_left {
          width: 240px;
          height: 35px;
          float: left; }
          header .header_content .top .top_in .top_left .phone {
            float: left;
            position: relative;
            text-indent: 24px;
            overflow: hidden; }
            header .header_content .top .top_in .top_left .phone .phoneicon1 {
              display: block;
              width: 20px;
              height: 20px;
              position: absolute;
              top: 8px;
              background: url(../img/headico.png) no-repeat;
              background-size: 105px 20px; }
          header .header_content .top .top_in .top_left .headerApp {
            float: left;
            position: relative;
            cursor: pointer;
            position: relative;
            text-indent: 24px;
            padding-left: 20px; }
            header .header_content .top .top_in .top_left .headerApp:hover .codepic {
              display: block; }
            header .header_content .top .top_in .top_left .headerApp .phoneicon2 {
              position: absolute;
              cursor: pointer;
              top: 7px;
              display: block;
              width: 20px;
              height: 20px;
              background: url(../img/headico.png) no-repeat;
              background-size: 105px 20px;
              background-position: -20px 0; }
            header .header_content .top .top_in .top_left .headerApp .codepic {
              display: block;
              position: absolute;
              left: 35px;
              width: 90px;
              height: 110px;
              background: #fff;
              display: none;
              border: 1px solid #d9d9d9;
              z-index: 1; }
              header .header_content .top .top_in .top_left .headerApp .codepic img {
                position: absolute;
                left: 9px;
                top: 10px; }
              header .header_content .top .top_in .top_left .headerApp .codepic span {
                position: absolute;
                left: 0px;
                top: 77px; }
        header .header_content .top .top_in .top-right {
          float: right; }
          header .header_content .top .top_in .top-right .btn {
            float: left;
            position: relative; }
            header .header_content .top .top_in .top-right .btn a {
              margin-right: 24px; }
            header .header_content .top .top_in .top-right .btn a:nth-child(2) {
              padding-right: 27px;
              border-right: 1px solid #d9d9d9; }
          header .header_content .top .top_in .top-right .shopping {
            float: left;
            position: relative; }
            header .header_content .top .top_in .top-right .shopping:hover .buyCar {
              display: block; }
            header .header_content .top .top_in .top-right .shopping a {
              margin-left: 32px;
              position: relative; }
              header .header_content .top .top_in .top-right .shopping a .phoneicon3 {
                position: absolute;
                left: -20px;
                top: -1px;
                display: block;
                width: 20px;
                height: 20px;
                background: url(../img/headico.png) no-repeat;
                background-size: 105px 20px;
                background-position: -40px 0; }
            header .header_content .top .top_in .top-right .shopping .buyCar {
              position: absolute;
              right: 0;
              top: 30px;
              width: 380px;
              text-align: center;
              line-height: 80px;
              height: 80px;
              border: 1px solid #d9d9d9;
              display: none;
              background: #fff;
              z-index: 1; }
    header .header_content .middle {
      position: relative;
      width: 1200px;
      height: 99px;
      margin: 0 auto;
      clear: both; }
      header .header_content .middle .logo {
        width: 360px;
        text-align: center;
        margin: 0 auto;
        padding-top: 35px; }
        header .header_content .middle .logo .img {
          width: 211px;
          height: 60px; }
      header .header_content .middle .search {
        position: absolute;
        top: 45px;
        right: 0; }
        header .header_content .middle .search input {
          float: left;
          width: 165px;
          height: 30px;
          padding: 0;
          border: none;
          height: 29px;
          border-bottom: solid 1px #e8e8e8; }
        header .header_content .middle .search a {
          float: left;
          display: block;
          width: 20px;
          height: 20px;
          background: url(../img/headico.png) -60px 0 no-repeat;
          margin-left: 2px; }
    header .header_content .bottom {
      padding-top: 10px;
      position: relative; }
      header .header_content .bottom .bottom_top {
        display: block;
        overflow: hidden; }
        header .header_content .bottom .bottom_top .bottom_lis {
          float: left; }
          header .header_content .bottom .bottom_top .bottom_lis:hover .disblock {
            display: block; }
          header .header_content .bottom .bottom_top .bottom_lis .lis_a {
            display: block;
            width: 133px;
            padding: 15px 0 25px 0;
            text-align: center;
            font-size: 14px;
            font-weight: bold; }
  header .header_shadow {
    background: url(../img/shadow.png) 0 bottom repeat-x;
    width: 100%;
    height: 8px; }

footer {
  height: 553px;
  width: 100%;
  background: #fff;
  border-top: 1px solid #e8e8e8; }
  footer .footer-in {
    width: 1263px;
    margin: 0 auto;
    background: #fff; }
    footer .footer-in .foot_top {
      height: 273px;
      background: #fff; }
      footer .footer-in .foot_top .top_in {
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        padding-top: 40px; }
        footer .footer-in .foot_top .top_in .in_one, footer .footer-in .foot_top .top_in .in_two, footer .footer-in .foot_top .top_in .in_three, footer .footer-in .foot_top .top_in .in_four {
          padding-top: 10px;
          height: 200px;
          float: left;
          width: 299px;
          border-right: 1px solid #e8e8e8; }
        footer .footer-in .foot_top .top_in .in_one ul {
          float: left;
          width: 149px;
          margin-bottom: 10px; }
          footer .footer-in .foot_top .top_in .in_one ul li {
            line-height: 25px; }
          footer .footer-in .foot_top .top_in .in_one ul .footer_t {
            margin-bottom: 8px;
            color: #333;
            font-size: 14px; }
        footer .footer-in .foot_top .top_in .in_two {
          text-align: center; }
          footer .footer-in .foot_top .top_in .in_two span {
            display: block;
            padding-top: 5px; }
          footer .footer-in .foot_top .top_in .in_two h5 {
            line-height: 65px;
            font-size: 24px; }
          footer .footer-in .foot_top .top_in .in_two p {
            line-height: 30px; }
        footer .footer-in .foot_top .top_in .in_three {
          text-align: center;
          color: #333;
          font-size: 14px; }
          footer .footer-in .foot_top .top_in .in_three .foot_to {
            margin-bottom: 20px;
            display: block;
            padding-top: 5px; }
          footer .footer-in .foot_top .top_in .in_three .foot_mi {
            display: block;
            border-radius: 2px;
            border: solid 1px #e8e8e8;
            width: 173px;
            height: 41px;
            padding-left: 22px;
            background: #f5f5f5;
            line-height: 41px;
            vertical-align: middle;
            font-size: 12px;
            color: #6c6c6c;
            margin: 0 auto; }
          footer .footer-in .foot_top .top_in .in_three .foot_bt {
            text-align: center;
            font-size: 14px;
            cursor: pointer;
            width: 197px;
            height: 49px;
            background: #333;
            color: #fff;
            line-height: 49px;
            margin: 25px auto 0;
            border-radius: 2px; }
        footer .footer-in .foot_top .top_in .in_four {
          padding-left: 25px;
          border-right: none;
          text-align: center;
          width: 275px; }
          footer .footer-in .foot_top .top_in .in_four .four_app {
            margin-left: 20px;
            float: left;
            display: inline; }
            footer .footer-in .foot_top .top_in .in_four .four_app div {
              margin-top: 20px;
              border: 1px solid #e8e8e8;
              padding: 20px; }
              footer .footer-in .foot_top .top_in .in_four .four_app div .app_img {
                display: block;
                width: 67px;
                height: 67px;
                background: url(../img/down_app.png); }
          footer .footer-in .foot_top .top_in .in_four .wechat {
            text-align: center; }
            footer .footer-in .foot_top .top_in .in_four .wechat div {
              border: 1px solid #e8e8e8;
              padding: 20px;
              margin-top: 20px;
              float: right;
              display: inline; }
              footer .footer-in .foot_top .top_in .in_four .wechat div .wechat_img {
                display: block;
                width: 67px;
                height: 67px;
                background: url(../img/wechat.png); }
          footer .footer-in .foot_top .top_in .in_four .clear {
            clear: both; }
          footer .footer-in .foot_top .top_in .in_four P {
            text-align: right;
            line-height: 60px;
            color: #999; }
    footer .footer-in .foot_bottom {
      background: #414141;
      width: 100%;
      height: 280px;
      min-width: 1200px; }
      footer .footer-in .foot_bottom .b_one ul {
        height: 138px;
        line-height: 138px;
        color: white;
        width: 1200px;
        margin: 0 auto; }
        footer .footer-in .foot_bottom .b_one ul li {
          float: left;
          font-size: 18px; }
          footer .footer-in .foot_bottom .b_one ul li div {
            position: relative;
            top: 42px;
            margin-right: 24px;
            float: left;
            width: 52px;
            height: 52px;
            background: url(../img/footer_icon.png) center; }
          footer .footer-in .foot_bottom .b_one ul li .one_icon1 {
            background-position: right; }
          footer .footer-in .foot_bottom .b_one ul li .one_icon2 {
            background-position: -52px 0; }
          footer .footer-in .foot_bottom .b_one ul li .one_icon3 {
            background-position: left; }
        footer .footer-in .foot_bottom .b_one ul .one_mid {
          width: 765px;
          text-align: center;
          position: relative;
          left: 28px; }
          footer .footer-in .foot_bottom .b_one ul .one_mid div {
            position: relative;
            left: 299px; }
      footer .footer-in .foot_bottom .b_two {
        width: 100%;
        height: 0;
        border-bottom: 1px solid #333;
        border-top: 1px solid #4d4d4d; }
      footer .footer-in .foot_bottom .b_three {
        width: 1200px;
        margin: 0 auto;
        padding-top: 30px;
        background: #414141;
        color: #999;
        overflow: hidden; }
        footer .footer-in .foot_bottom .b_three .three_first {
          position: relative;
          left: -10px;
          float: left; }
          footer .footer-in .foot_bottom .b_three .three_first ul {
            display: block;
            overflow: hidden; }
            footer .footer-in .foot_bottom .b_three .three_first ul li {
              text-align: center;
              float: left;
              height: 20px;
              width: 72px;
              border-left: 1px solid #999;
              line-height: 20px; }
              footer .footer-in .foot_bottom .b_three .three_first ul li a {
                display: block;
                color: #999; }
                footer .footer-in .foot_bottom .b_three .three_first ul li a:hover {
                  color: #eee; }
          footer .footer-in .foot_bottom .b_three .three_first div {
            padding-left: 12px; }
            footer .footer-in .foot_bottom .b_three .three_first div p {
              height: 47px;
              line-height: 47px; }
            footer .footer-in .foot_bottom .b_three .three_first div span {
              margin-right: 20px; }
          footer .footer-in .foot_bottom .b_three .three_first .clear {
            clear: both; }
        footer .footer-in .foot_bottom .b_three .three_second {
          float: left;
          margin: 5px 1px 0px 150px;
          height: 86px;
          border-right: 1px solid #333;
          border-left: 1px solid #4d4d4d; }
        footer .footer-in .foot_bottom .b_three .three_third {
          float: right;
          display: inline; }
          footer .footer-in .foot_bottom .b_three .three_third div {
            text-align: center;
            margin: 5px 0 23px;
            font-size: 14px; }
          footer .footer-in .foot_bottom .b_three .three_third ul {
            display: block;
            color: #999; }
            footer .footer-in .foot_bottom .b_three .three_third ul li {
              float: left;
              padding: 0 17px; }
              footer .footer-in .foot_bottom .b_three .three_third ul li a {
                display: block;
                color: #999; }
            footer .footer-in .foot_bottom .b_three .three_third ul .icon_01 a {
              width: 18px;
              height: 20px;
              background: url(../img/partner_icon.png);
              background-position: 0 0; }
            footer .footer-in .foot_bottom .b_three .three_third ul .icon_02 a span {
              float: left;
              width: 31px;
              height: 19px;
              background: url(../img/partner_icon.png);
              background-position: -199px 0; }
            footer .footer-in .foot_bottom .b_three .three_third ul .icon_02 a i {
              float: left;
              display: inline; }
            footer .footer-in .foot_bottom .b_three .three_third ul .icon_03 a {
              width: 68px;
              height: 22px;
              background: url(../img/footer.png);
              background-position: 0 -24px; }
            footer .footer-in .foot_bottom .b_three .three_third ul .icon_04 a {
              width: 72px;
              height: 31px;
              background: url(../img/partner_icon.png);
              background-position: -127px 0; }
            footer .footer-in .foot_bottom .b_three .three_third ul .icon_05 a {
              width: 60px;
              height: 23px;
              background: url(../img/partner_icon.png);
              background-position: -66px 0; }
            footer .footer-in .foot_bottom .b_three .three_third ul .icon_06 a {
              width: 77px;
              height: 23px;
              background: url(../img/footer.png);
              background-position: -77px -23px; }

body {
  width: 1263px;
  font: 12px "微软雅黑",Helvetica,sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #555;
  margin: 0 auto; }

p {
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word; }

.box_prev, .box_next {
  width: 17px;
  height: 300px;
  position: absolute;
  z-index: 3;
  background: #fff;
  cursor: pointer; }

.box_prev_m, .box_next_m {
  width: 17px;
  position: absolute;
  height: 38px;
  top: 100px; }

.clear {
  clear: both; }

header {
  margin-bottom: 20px; }

section {
  width: 100%; }
  section .section_in {
    width: 1200px;
    margin: 0 auto; }
    section .section_in .shoplist {
      width: 100%; }
      section .section_in .shoplist .shoptitle {
        margin-bottom: 10px;
        height: 43px;
        border: solid 1px #e8e8e8;
        background: #f5f5f5;
        color: #333;
        line-height: 43px;
        padding: 0 15px;
        font-size: 14px; }
        section .section_in .shoplist .shoptitle li {
          float: left; }
          section .section_in .shoplist .shoptitle li:first-child {
            width: 15%; }
          section .section_in .shoplist .shoptitle li:nth-child(2) {
            width: 30%; }
          section .section_in .shoplist .shoptitle li:nth-child(3) {
            width: 10%;
            text-align: center; }
          section .section_in .shoplist .shoptitle li:nth-child(4) {
            width: 20%;
            text-align: center; }
          section .section_in .shoplist .shoptitle li:last-child {
            width: 15%;
            text-align: center; }
      section .section_in .shoplist .goodslist {
        border: solid 1px #e8e8e8;
        padding: 0 15px;
        font-size: 14px;
        overflow: hidden;
        color: #555; }
        section .section_in .shoplist .goodslist .lists {
          border-bottom: dashed 1px #eaeaea;
          overflow: hidden; }
          section .section_in .shoplist .goodslist .lists li {
            float: left;
            overflow: hidden;
            padding: 20px 0; }
            section .section_in .shoplist .goodslist .lists li:first-child {
              width: 15%; }
              section .section_in .shoplist .goodslist .lists li:first-child input {
                float: left;
                margin: 25px 10px 0 0; }
              section .section_in .shoplist .goodslist .lists li:first-child img {
                float: left;
                width: 100px; }
            section .section_in .shoplist .goodslist .lists li:nth-child(2) {
              width: 30%; }
              section .section_in .shoplist .goodslist .lists li:nth-child(2) a {
                line-height: 20px;
                color: #333;
                display: block;
                max-width: 250px; }
              section .section_in .shoplist .goodslist .lists li:nth-child(2) div {
                margin-bottom: 3px; }
                section .section_in .shoplist .goodslist .lists li:nth-child(2) div p {
                  margin-right: 15px;
                  font-size: 12px; }
            section .section_in .shoplist .goodslist .lists li:nth-child(3) {
              width: 10%;
              margin-top: 20px;
              text-align: center; }
            section .section_in .shoplist .goodslist .lists li:nth-child(4) {
              width: 20%; }
              section .section_in .shoplist .goodslist .lists li:nth-child(4) div {
                width: 102px;
                overflow: hidden;
                border: 1px solid #d9d9d9;
                margin: 20px auto 0; }
                section .section_in .shoplist .goodslist .lists li:nth-child(4) div a {
                  display: block;
                  float: left;
                  width: 22px;
                  height: 22px;
                  color: #333;
                  text-align: center; }
                section .section_in .shoplist .goodslist .lists li:nth-child(4) div .minus {
                  border-right: 1px solid #d9d9d9;
                  font-size: 16px;
                  line-height: 22px; }
                section .section_in .shoplist .goodslist .lists li:nth-child(4) div input {
                  display: block;
                  float: left;
                  height: 22px;
                  color: #333;
                  text-align: center;
                  line-height: 22px;
                  border: none;
                  padding: 0;
                  width: 56px; }
                section .section_in .shoplist .goodslist .lists li:nth-child(4) div .add {
                  border-left: 1px solid #d9d9d9;
                  font-size: 16px;
                  line-height: 22px; }
            section .section_in .shoplist .goodslist .lists li:nth-child(5) {
              width: 15%;
              text-align: center;
              margin-top: 20px; }
            section .section_in .shoplist .goodslist .lists li:last-child {
              width: 10%;
              text-align: center; }
              section .section_in .shoplist .goodslist .lists li:last-child p {
                line-height: 25px; }
                section .section_in .shoplist .goodslist .lists li:last-child p:first-child {
                  margin-top: 7px; }
                section .section_in .shoplist .goodslist .lists li:last-child p a {
                  font-size: 12px;
                  color: #666; }
      section .section_in .shoplist .shopamount {
        margin-top: 10px;
        background: #fcfcfc;
        border: solid 1px #e8e8e8;
        padding: 0 15px; }
        section .section_in .shoplist .shopamount .amounttop {
          font-size: 14px;
          overflow: hidden;
          color: #555; }
          section .section_in .shoplist .shopamount .amounttop .top_left {
            float: left;
            line-height: 43px;
            margin-top: 3px; }
            section .section_in .shoplist .shopamount .amounttop .top_left p {
              float: left;
              margin-right: 30px; }
            section .section_in .shoplist .shopamount .amounttop .top_left a {
              font-size: 14px;
              color: #555;
              display: block; }
            section .section_in .shoplist .shopamount .amounttop .top_left .a_left {
              float: left;
              margin-right: 30px; }
            section .section_in .shoplist .shopamount .amounttop .top_left .a_right {
              float: left; }
          section .section_in .shoplist .shopamount .amounttop .top_right {
            float: right;
            margin-top: 15px;
            width: 335px;
            border-bottom: solid 1px #ebebeb;
            padding-bottom: 15px;
            text-align: right;
            font-size: 10px; }
            section .section_in .shoplist .shopamount .amounttop .top_right .goodschoose {
              margin-right: 15px; }
              section .section_in .shoplist .shopamount .amounttop .top_right .goodschoose .choosenum {
                color: #e8203b; }
            section .section_in .shoplist .shopamount .amounttop .top_right .chooseprice {
              color: #e8203b; }
            section .section_in .shoplist .shopamount .amounttop .top_right p {
              padding: 6px 0; }
              section .section_in .shoplist .shopamount .amounttop .top_right p .pricenum {
                color: #333; }
        section .section_in .shoplist .shopamount .amountbtm {
          padding: 30px 0 50px;
          overflow: hidden; }
          section .section_in .shoplist .shopamount .amountbtm a {
            float: left;
            width: 123px;
            height: 46px;
            font-size: 14px;
            padding-left: 15px;
            border: solid 1px #ccc;
            border-radius: 3px;
            text-align: center;
            line-height: 46px;
            color: #666;
            margin-top: 2px;
            background: url(../img/continue_shop.png) 25px 18px no-repeat; }
          section .section_in .shoplist .shopamount .amountbtm .settle {
            float: right;
            width: 165px;
            height: 50px;
            background: #c43f40;
            color: #fff;
            border: none;
            font-size: 16px;
            font-weight: bold;
            border-radius: 3px; }
      section .section_in .shoplist .cart_like {
        margin-top: 20px;
        border: solid 1px #e8e8e8; }
        section .section_in .shoplist .cart_like p {
          height: 70px;
          line-height: 70px;
          margin: 0 30px;
          border-bottom: solid 1px #e8e8e8; }
        section .section_in .shoplist .cart_like .shop_slideshow {
          width: 1140px;
          margin: 0 auto; }
          section .section_in .shoplist .cart_like .shop_slideshow .slide_box {
            width: 1048px;
            height: 360px;
            padding: 20px 40px;
            margin: 0 auto;
            position: relative;
            left: 0px;
            overflow: hidden; }
            section .section_in .shoplist .cart_like .shop_slideshow .slide_box .box_prev {
              left: 0; }
              section .section_in .shoplist .cart_like .shop_slideshow .slide_box .box_prev .box_prev_m {
                background: url(../img/pre_btn.png) no-repeat; }
            section .section_in .shoplist .cart_like .shop_slideshow .slide_box .box_next {
              right: 0; }
              section .section_in .shoplist .cart_like .shop_slideshow .slide_box .box_next .box_next_m {
                background: url(../img/next_btn.png) no-repeat; }
            section .section_in .shoplist .cart_like .shop_slideshow .slide_box .box_uls {
              position: relative;
              z-index: 1;
              width: 5240px;
              left: 0;
              top: 0;
              overflow: hidden; }
              section .section_in .shoplist .cart_like .shop_slideshow .slide_box .box_uls li {
                overflow: hidden;
                float: left;
                width: 220px;
                height: 382px;
                margin: 0 21px;
                line-height: 1.2;
                text-align: center;
                display: inline;
                position: relative; }
                section .section_in .shoplist .cart_like .shop_slideshow .slide_box .box_uls li .li_pic {
                  display: block;
                  color: #666;
                  cursor: pointer; }
                  section .section_in .shoplist .cart_like .shop_slideshow .slide_box .box_uls li .li_pic img {
                    width: 160px;
                    height: 192px; }
                  section .section_in .shoplist .cart_like .shop_slideshow .slide_box .box_uls li .li_pic .li_pic_name {
                    padding: 10px 16px 16px 16px;
                    line-height: 2;
                    margin-bottom: 5px;
                    overflow: hidden; }
                section .section_in .shoplist .cart_like .shop_slideshow .slide_box .box_uls li .li_price {
                  color: #ccc;
                  margin-top: 10px; }
                section .section_in .shoplist .cart_like .shop_slideshow .slide_box .box_uls li .li__addcart {
                  display: block;
                  width: 126px;
                  height: 33px;
                  line-height: 33px;
                  border: solid 1px #e8e8e8;
                  margin: 25px auto 30px;
                  text-align: center;
                  cursor: pointer; }

footer {
  margin-top: 30px; }
