//header

.disblock{
    display:none;  
    background:#fff; 
    overflow:hidden;
    position:absolute;
    top:61px;
    left:0;
    width: 100%;
    padding: 25px 0 65px 0;
    text-align: center;
    border-top: solid 1px #e8e8e8;
    opacity: .95;
    z-index: 99;
    
    ul{
        display:inline-block; 
        margin:20px;
        width: 200px;
        margin: 0 30px;
        li{
            padding: 7px 0;
            font-size: 14px;
            overflow: hidden;
            a{
                display:block;
                color: #666;
                font-weight:normal;
            }
            .block_li_a{
                font-weight: bold;
            }
        }
     
    }
    
}
.float_l {
    float: left;
    display: inline;
}
.float_r{
      float: right;
    display: inline;
}
.clear{
    clear:both;
} 
//header 
header{
    width:1263px;
    height:214px;
    margin-bottom:20px;
    margin:0 auto;
    .header_content{
        height:206px;
        background: #fff;
        .top{
            width:100%;
            height:35px;
            background:#f9f9f9;
            border-bottom:1px solid #f5f5f5;
            .top_in{
                width:1200px;
                height:35px;
                line-height:35px;
                margin:0 auto; 
                a{
                    color:#555;
                } 
                .top_left{
                    width:240px;
                    height:35px;
                    float:left;
                    .phone{
                        float:left;
                        position:relative;
                        text-indent:24px;
                        overflow: hidden;
                        .phoneicon1{
                            display:block;
                            width:20px;
                            height:20px;
                            position:absolute;
                            top:8px;
                            background:url(../img/headico.png)no-repeat;
                            background-size:105px 20px;
                        }
                    }  
                    .headerApp{
                        float:left;
                        position:relative;
                        cursor:pointer;
                        position:relative;
                        text-indent:24px;
                        padding-left:20px;
                        .phoneicon2{
                            position:absolute;
                            cursor:pointer;
                            top:7px;
                            display:block;
                            width:20px;
                            height:20px;
                            background:url(../img/headico.png)no-repeat;
                            background-size: 105px 20px;
                            background-position:-20px 0;
                        }
                        .codepic{
                            display:block;
                            position:absolute;
                            left:35px;
                            width:90px;
                            height:110px;
                            background:#fff;
                            display: none;;
                            border:1px solid #d9d9d9;
                            z-index: 1;
                            img{
                                position:absolute;
                                left:9px;
                                top:10px;
                            }
                            span{
                                position:absolute;
                                left:0px;
                                top:77px;
                            }
                        } 
                    }  
                } 
                .top-right{
                    float:right;
                    
                    .btn{
                        float:left;
                        position:relative;
                        a{
                            margin-right:24px;
                        }
                        a:nth-child(2){
                            padding-right:27px;
                            border-right:1px solid #d9d9d9;
                        }
                    }
                    .logined{
                        float:left;
                        position:relative;
                        display:none;
                    }
                    .shopping{
                        float:left;
                        position:relative;
                        a{
                            margin-left:32px;
                            position:relative;
                            
                            .phoneicon3{
                                position:absolute;
                                left:-20px;
                                top:-1px;
                                display:block;
                                width:20px;
                                height:20px;
                                background:url(../img/headico.png)no-repeat;
                                background-size: 105px 20px;
                                background-position:-40px 0;
                            }
                        }
                    .buyCar{
                        position:absolute;
                        right:0;
                        top:30px;
                        display:none;
                        background: #fff;
                        z-index: 1;
                        line-height: 1.5;
                        .buygoods_no{
                            width:380px;
                            line-height:80px;
                            height:80px;
                            text-align:center;
                            border:1px solid #d9d9d9;
//                          display:none;
                        }
                        .buygoods_have{
//                          display:none;
                            width:380px;
                            border: solid 1px #e8e8e8;
                            .have_tit{
                                padding: 20px 20px 5px 20px;
                                color: #999;
                            }
                            .have_con{
                                padding-left: 20px;
                                padding-right: 30px;
                                margin-right: 30px;
                                position: relative;
                                margin-bottom: 5px;
                                padding-bottom: 5px;
                                .con_l{
                                    a{
                                        display:block;
                                        width: 60px;
                                        img{
                                            width: 60px;
                                        }
                                    }
                                }
                                .con_m{
                                    margin-left: 10px;
                                    display:block;
                                    .span_1{
                                        font-size: 14px;
                                        color: #666;
                                    }    
                                    .span_2{
                                        display: block;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        margin-bottom: 5px;
                                        color: #999;
                                    }
                                    .span_3{
                                        color: #333;
                                    }
                                    .span_4{
                                        color: #999;
                                    }
                                    .span_5 {
                                        vertical-align: middle;
                                        margin-left: 84px;
                                        background-position: -1px -3px;
                                        display: block;
                                        line-height: 1.5;
                                        margin-top: -11px;
                                    }
                                }
                                .con_r{
                                    font-size: 12px;
                                    position: absolute;
                                    right: 0;
                                    top: 20px;
                                    color: #ccc;
                                    font-family: "宋体";
                                    cursor: pointer;
                                    width: 30px;
                                    height: 30px;
                                    line-height: 30px;
                                    text-align: center;
                                }
                                
                            }
                            .have_bot{
                                background: #f7f7f7;
                                padding: 15px 15px 15px 20px;
                                overflow:hidden;
                                .btom_l{
                                    line-height: 42px;
                                    font-size: 14px;
                                    .span_6{
                                        color: #e8203b;
                                    }
                                }
                                .btom_r {
                                    display: block;
                                    width: 114px;
                                    height: 42px;
                                    background: #333;
                                    color: #fff;
                                    text-align: center;
                                    line-height: 42px;
                                    font-size: 14px;
                                }
                            }
                        }
                     }
                }
                }     
            }
        }
        .middle{
            position: relative;
            width: 1200px;
            height:99px;
            margin: 0 auto; 
            clear: both;
            
            .logo{
                width: 360px;
                text-align: center;
                margin: 0 auto;
                padding-top: 35px;
                
                .img{
                    width: 211px;
                    height: 60px;
                }
            }
            .search{
                    position: absolute;
                    top: 45px;
                    right: 0;
                input{
                    float: left;
                    width: 165px;
                    height:30px;
                    padding: 0;
                    border: none;
                    height: 29px;
                    border-bottom: solid 1px #e8e8e8;
                }
                a{
                    float: left;
                    display: block;
                    width: 20px;
                    height: 20px;
                    background: url(../img/headico.png) -60px 0 no-repeat;
                    margin-left: 2px;
                }
            }
        }
        .bottom{
            padding-top: 10px;
            position: relative;
            .bottom_top{
                display: block;
                overflow:hidden;
                
                 .bottom_lis{
                     float:left;
                     &:hover {
                         .disblock{
                            display:block;
                        } 
                   }
                   .lis_a{
                        display: block;
                        width: 133px;
                        padding: 15px 0 25px 0;
                        text-align: center;
                        font-size: 14px;
                        font-weight: bold;
                    }  
                }
            }
        }  
    }
    .header_shadow{
        background: url(../img/shadow.png) 0 bottom repeat-x;
        width: 100%;
        height: 8px;
    }
}