@charset "utf-8"; 
@import "common";
@import "header1"; 
@import "footer";

body{
    width:1263px;
    font: 12px "微软雅黑",Helvetica,sans-serif;
    line-height: 1.5;
    background-color:#f5f5f5;
    color:#555;
    margin:0 auto;
}
.float_l {
    float: left;
    display: inline;
}
.clear{
    clear:both;
}
.box_prev,.box_next{
    width: 17px;
    height: 300px;
    position: absolute;
    z-index: 3;
    background: #fff;
    cursor: pointer;
}
.box_prev_m,.box_next_m{
    width: 17px;
    position: absolute;
    height: 38px;
    top: 100px;
}

.goods_scroll .prev, .goods_scroll .next, .goods_scroll .prev_cur, .goods_scroll .next_cur {
    width: 50px;
    height: 16px;
    display: block;
    position: absolute;
    background: url(../img/projt.gif) no-repeat;
    cursor: pointer;
}
 .guse{
        height: 63px;
        padding-top: 15px;
        border-bottom: solid 1px #e8e8e8;
        width: 1140px;
        margin: 0 auto;
        .guse_in{
            height: 45px;
            background: url(../img/m.png) no-repeat center left;
            color: #1b1b1b;
            font-size: 14px;
            padding: 0 0 5px 70px;
            
            p:first-child{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
                padding: 4px 0 4px 0;
                color: #999;
            }
            p:last-child{
                line-height: .8;
                color: #666;
                font-size: 12px;
            }
        }
    }

//header
header{
    margin-bottom: 20px;
}
//section
section{
    width: 1200px;
    margin: 0 auto;
    
    .section_in{
        .section_top{
            background: #fff;
            padding: 70px 0;
            overflow:hidden;
            .prot_l{
                width: 510px;
                float: left;
                margin-left: 95px;
                .prot_img_sma{
                    float: left;
                    .goods_scroll{
                        height: 420px;
                        width: 52px;
                        padding: 20px 0;
                        overflow: hidden;
                        position: relative;
                        .prev{
                            top: 3px;
                            left: 0;
                            display: none;
                            background-position: center 0;
                        }
                        .prev_cur{
                            top: 3px;
                            left: 0;
                            background-position: center -32px;
                        }
                        .next{
                            display: block;
                            bottom: 0;
                            left: 0;
                            background-position: center -16px;
                        }
                        .next_cur{
                            display: none;
                            bottom: 0;
                            left: 0;
                            background-position: center -48px;
                        }
                        .scroll_mask{
                            width: 52px;
                            height: 420px;
                            position: relative;
                            overflow: hidden;
                            z-index: 2;
                            .scroll_img{
                                top: 0px;
                                position: relative;
                                .list_edit{
                                    margin-top: 7px;
                                    height: 62px;
                                    a{
                                        img{
                                            border: solid 1px #fff;
                                            width: 50px;
                                            height: 60px;   
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .prot_img_big{
                    float: left;
                    margin-left: 20px;
                    .bigimg_a{
                            width: 384px;
                            height: 460px;
                            display: block;
                        .zoopadimg{
                            float: left;
                            position: relative;
                            cursor: crosshair;
                            z-index: 9;
                            
                            &:hover{
                               .imgone_mouse {
                                   display:block;
                               }
                               .imgvis{ 
                                   display:block;
                               }
                            }
                            .img_one{
                                opacity:1;
                                height: 460px;
                            }
                            .imgone_mouse{
                                top: 193px;
                                left: 151px;
                                width: 185px;
                                height: 220px;
                                position: absolute;
                                border-width: 1px;
                                display: none; 
                                background-color: #fff;
                                opacity: 0.6;
                                border: 1px solid #eee;
                                cursor: pointer;
                                z-index: 11;  
                            }
                            .imgvis{
                                position: absolute;
                                left: 448px;
                                top: 0px;
                                z-index: 99;
                                width: 390px;
                                height: 462px;
                                display: none; 
                                overflow:hidden;
                                border: solid 1px #eee;
                                background: #fff;
                               .img_bigs{
                                   position: absolute;
                                    left:0;
                                    top:0;
                               }
                            }
                        }
                    }
                    
                }
            }
            .prot_r{
                padding: 20px 0 0 85px;
                width: 425px;
                float:left;
                .pro_tit{
                    a{
                        font-size: 24px;
                        display: block;
                        color: #333;
                    }
                }
                .tit2{
                    width:425px;
                    height:27px;
                    .tit2wo{
                         display:block;
                         font-size: 14px;
                         float:left;
                         max-width: 341px;
                         margin-top: 4px;
                         margin-right: 20px;
                    }
                    .tit2lo{
                        display:block;
                        float:left;
                        width: 48px;
                        height: 24px;
                        background: url(../img/saleTip1.png) -1px -3px no-repeat;
                        margin-top: 3px;
                    }
                }
               
                .tit_price{
                    margin: 20px 0 14px;
                    color: #333;
                    em{
                        font-size: 18px;
                        font-weight: bold;
                    }
                }
                .pro_color{
                    width:425px;
                    height:24px;
                    .col_wo{
                        display: inline-block;
                         color: #999;
                         width:55px;
                         vertical-align: middle;
                         
                    }
                    .col{
                        width: 22px;
                        height: 22px;
                        background: url(../img/color.gif) -22px 0 no-repeat;
                        display: inline-block;
                        border:1px solid #000;
                        vertical-align: middle;
                        border-radius: 2px;;
                    }
                }
                .pro_btn{
                    margin-top:30px;
                    overflow:hidden;
                    button{
                        font-size: 14px;
                        overflow: hidden;
                        color: #fff;
                        border: 0;
                        cursor: pointer;
                        border-radius: 2px;
                    }
                    .shopping{
                        background: #333;
                        width: 152px;
                        height: 45px;
                        float: left;
                        display: inline;
                    }
                    .shopcar{
                        background: #c53f40;
                        margin-left: 10px;
                        width: 143px;
                        height: 45px;
                        float: left;
                        display: inline;
                    }
                    a{
                        display:block;
                        width: 43px;
                        height: 43px;
                        background: url(../img/pst.gif) no-repeat;
                        border: solid 1px #e8e8e8;
                        margin-left: 10px;
                    }
                    .like{
                        float: left; 
                        background-position: 0 -13px;
                    }
                    .share{
                        float: left;
                        width: 43px;
                        height: 43px;
                        background: url(../img/pst.gif) 0 -56px no-repeat;
                        position: relative;
                    }
                }
                .runout{
                    margin-top: 20px;
                    color: #999;
                    li{
                        padding: 15px 0;
                        border-bottom: solid 1px #f5f5f5;
                        height:37px;
                        span:first-child{
                            width: 78px;
                            float: left;
                            display: block;
                        }
                        span:last-child{
                            width: 345px;
                            float: right;
                            display: block;
                        }
                    }
                }
            }
        }
        .prot_recom{
            margin-top: 20px;
            background: #fff;
            padding: 0 20px;
        }
        .prot_title{
            margin-top: 20px;
            height: 60px;
            overflow: hidden;
            background: #fff;
        }
        .prot_detail{
            margin-top: 20px;
            border: solid 1px #e8e8e8;
            background: #fff;
            .prot_detail_img{
                    width: 1110px;
                    margin: 0 auto;
                .detail_box{
                    overflow: hidden;
                    li{
                        float: left;
                        margin: 0 35px 70px 35px;
                        font-size: 0;
                        img{
                            width:485px;
                        }
                    }
                }
            }
        }
        .cart_like{
                margin-top: 20px;
                border: solid 1px #e8e8e8;
                background: #fff;
                .shop_slideshow{
                    width: 1140px;
                    margin: 0 auto;
                    .slide_box{
                        width: 1048px;
                        height: 360px;
                        padding: 20px 40px;
                        margin: 0 auto;
                        position: relative;
                        left: 0px;
                        overflow: hidden;
                        
                        .box_prev{
                            left: 0;
                            .box_prev_m{
                                background: url(../img/pre_btn.png) no-repeat;
                            }
                       
                        }
                            
                        .box_next{ 
                            right: 0;
                            .box_next_m{
                                background: url(../img/next_btn.png) no-repeat;
                            }
                        }
                        .box_uls{
                            position:relative;
                            z-index: 1;
                            width: 5240px; 
                            left:0;
                            top:0;
                            overflow: hidden;
                            li{
                                overflow: hidden;
                                float: left;
                                width: 220px;
                                height: 382px;
                                margin: 0 21px;
                                line-height: 1.2;
                                text-align: center;
                                display: inline;
                                position: relative;
                                .li_pic{
                                    display: block;
                                    color: #666;
                                    cursor: pointer;
                                    img{
                                        width: 160px;
                                        height: 192px;
                                    }
                                    .li_pic_name{
                                        padding: 10px 16px 16px 16px;
                                        line-height: 2;
                                        margin-bottom: 5px;
                                        overflow: hidden;
                                    }
                                }   
                                .li_price{
                                    color: #ccc;
                                    margin-top: 10px;
                                }
                                .li__addcart{
                                    display: block;
                                    width: 126px;
                                    height: 33px;
                                    line-height: 33px;
                                    border: solid 1px #e8e8e8;
                                    margin: 25px auto 30px;
                                    text-align: center;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                } 
        }
    }
}
//footer
footer{
        margin-top: 30px;
}

 