@charset "utf-8"; 
@import "common";



body{
    width:1263px;
    font: 12px "微软雅黑",Helvetica,sans-serif;
    line-height: 1.5;
    background-color:#fff;
    color:#555;
    margin:0 auto;
}
.float_l {
    float: left;
    display: inline;
}
.clear{
    clear:both;
}
.disblock{
    display:none;
    background:#fff; 
    opacity: 0.8;
    width:1263px;
    overflow:hidden;
    position:absolute;
    top:61px;
    left:0;
    text-align: center;
    border-top:1px solid #eee;
    
    ul{
        display:inline-block; 
        margin:20px;
        li{
            line-height: 24px; 
            a{
                display:block;
                line-height: 24px;
                color:#333;
                font-weight:normal;
                width: 133px;
                padding: 15px 0 25px 0;
                text-align: center;
                font-size: 14px;
            }
            .block_li_a{
                font-weight:bold;
            }
        }
     
    }
    
}

.goods_scroll .prev, .goods_scroll .next, .goods_scroll .prev_cur, .goods_scroll .next_cur {
    width: 50px;
    height: 16px;
    display: block;
    position: absolute;
    background: url(../img/projt.gif) no-repeat;
    cursor: pointer;
}
//header 
header{
    width:1263px;
    height:214px;
    margin-bottom:20px;
    margin:0 auto;
    
    .header_content{
        height:206px;
        
        .top{
            width:100%;
            height:35px;
            background:#f9f9f9;
            border-bottom:1px solid #f5f5f5;
            
            .top_in{
                width:1200px;
                height:35px;
                line-height:35px;
                margin:0 auto; 
                a{
                    color:#555;
                } 
                .top_left{
                    width:240px;
                    height:35px;
                    float:left;
                    
                    .phone{
                        float:left;
                        position:relative;
                        text-indent:24px;
                        overflow: hidden;
                                          
                        .phoneicon1{
                            display:block;
                            width:20px;
                            height:20px;
                            position:absolute;
                            top:8px;
                            background:url(../img/headico.png)no-repeat;
                            background-size:105px 20px;
                        }
                    }  
                    .headerApp{
                        float:left;
                        position:relative;
                        cursor:pointer;
                        position:relative;
                        text-indent:24px;
                        padding-left:20px;
                        &:hover .codepic{
                            display: block;
                        }
                        
                        .phoneicon2{
                            position:absolute;
                            cursor:pointer;
                            top:7px;
                            display:block;
                            width:20px;
                            height:20px;
                            background:url(../img/headico.png)no-repeat;
                            background-size: 105px 20px;
                            background-position:-20px 0;
                        }
                        .codepic{
                            display:block;
                            position:absolute;
                            left:35px;
                            width:90px;
                            height:110px;
                            background:#fff;
                            display: none;;
                            border:1px solid #d9d9d9;
                            z-index: 1;
                            img{
                                position:absolute;
                                left:9px;
                                top:10px;
                            }
                            span{
                                position:absolute;
                                left:0px;
                                top:77px;
                            }
                        } 
                    }  
                } 
                
                .top-right{
                    float:right;
                    
                    .btn{
                        float:left;
                        position:relative;
                        a{
                            margin-right:24px;
                        }
                        a:nth-child(2){
                            padding-right:27px;
                            border-right:1px solid #d9d9d9;
                        }
                    }
                    
                    .shopping{
                        float:left;
                        position:relative;
                        
                        &:hover .buyCar{
                            display:block;
                        }
                        a{
                            margin-left:32px;
                            position:relative;
                            
                            .phoneicon3{
                                position:absolute;
                                left:-20px;
                                top:-1px;
                                display:block;
                                width:20px;
                                height:20px;
                                background:url(../img/headico.png)no-repeat;
                                background-size: 105px 20px;
                                background-position:-40px 0;
                            }
                        }
                        .buyCar{
                            position:absolute;
                            right:0;
                            top:30px;
                            width:380px;
                            text-align:center;
                            line-height:80px;
                            height:80px;
                            border:1px solid #d9d9d9;
                            display:none;
                            background: #fff;
                            z-index: 1;
                        }
                        
                    }
                }     
            }
        }
        .middle{
            position: relative;
            width: 1200px;
            height:99px;
            margin: 0 auto; 
            clear: both;
            
            .logo{
                width: 360px;
                text-align: center;
                margin: 0 auto;
                padding-top: 35px;
                
                .img{
                    width: 211px;
                    height: 60px;
                }
            }
            
            .search{
                    position: absolute;
                    top: 45px;
                    right: 0;
                input{
                    float: left;
                    width: 165px;
                    height:30px;
                    padding: 0;
                    border: none;
                    height: 29px;
                    border-bottom: solid 1px #e8e8e8;
                }
                a{
                    float: left;
                    display: block;
                    width: 20px;
                    height: 20px;
                    background: url(../img/headico.png) -60px 0 no-repeat;
                    margin-left: 2px;
                }
              
            }
        }
        
        .bottom{
            padding-top: 10px;
            position: relative;

            
            .bottom_top{
                display: block;
                overflow:hidden;
                
                 .bottom_lis{
                     float:left;
                   a{
                        display: block;
                        width: 133px;
                        padding: 15px 0 25px 0;
                        text-align: center;
                        font-size: 14px;
                        font-weight: bold;
                        
                        span {
                            display: block;
                            &:hover .disblock{
                            display:block;
                            } 
                       }  
                        
                         
                        
                        
                    }  
                }
            }
        }  
    }
    .header_shadow{
        background: url(../img/shadow.png) 0 bottom repeat-x;
        width: 100%;
        height: 8px;
    }
}

section{
    width: 1200px;
    margin: 0 auto;
    
    .section_in{
        .section_top{
            background: #fff;
            padding: 70px 0;
            .prot_l{
                width: 510px;
                float: left;
                margin-left: 95px;
                .prot_img_sma{
                    float: left;
                    .goods_scroll{
                        height: 420px;
                        width: 52px;
                        padding: 20px 0;
                        overflow: hidden;
                        position: relative;
                        .prev{
                            top: 3px;
                            left: 0;
                            display: none;
                            background-position: center 0;
                        }
                        .prev_cur{
                            top: 3px;
                            left: 0;
                            background-position: center -32px;
                        }
                        .next{
                            display: block;
                            bottom: 0;
                            left: 0;
                            background-position: center -16px;
                        }
                        .next_cur{
                            display: none;
                            bottom: 0;
                            left: 0;
                            background-position: center -48px;
                        }
                        .scroll_mask{
                            width: 52px;
                            height: 420px;
                            position: relative;
                            overflow: hidden;
                            z-index: 2;
                            .scroll_img{
                                top: 0px;
                                position: relative;
                                .list_edit{
                                    margin-top: 7px;
                                    height: 62px;
                                    a{
                                        img{
                                            border: solid 1px #fff;
                                            width: 50px;
                                            height: 60px;   
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .prot_img_big{
                    float: left;
                    margin-left: 20px;
                }
            }
            .prot_r{
                padding: 20px 0 0 85px;
                width: 425px;
            }
        }
        .prot_recom{
            margin-top: 20px;
            background: #fff;
            padding: 0 20px;
        }
        .prot_title{
            margin-top: 20px;
            height: 60px;
            overflow: hidden;
        }
        .prot_detail{
            margin-top: 20px;
        }
        .cart_like{
            margin-top: 20px;
            background: #fff;
            padding: 0 20px;
        }
    }
}


 